In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('7_26_8_2_product.csv')

In [3]:
data.head(5)

,DateRec,PlantCode,RoomCode,GroupCode,MachCode,OrderCode,StyleCode,StSize,StColor,StLot,...,PiecesProg4,CycleTimeProg4,NameProg5,TargetProg5,PiecesProg5,CycleTimeProg5,MachineId,ShiftDisabled,ManualStopInProd,ModelCode
0,2020-07-29 12:37:41.000,USA,KNITTING-ROOM,LINE-1,9,,CQ0301 03,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,
1,2020-07-29 12:40:05.000,USA,KNITTING-ROOM,LINE-1,8,,CQ0301 03,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,
2,2020-07-29 12:47:35.000,USA,KNITTING-ROOM,LINE-1,15,,CQ0301 02,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,
3,2020-07-29 12:49:49.000,USA,KNITTING-ROOM,LINE-1,14,,CQ0301 03,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,
4,2020-07-29 12:49:57.000,USA,KNITTING-ROOM,LINE-1,21,,s5277-4b 02,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,0,

In [4]:
data.columns.values

array(['DateRec', 'PlantCode', 'RoomCode', 'GroupCode', 'MachCode',
       'OrderCode', 'StyleCode', 'StSize', 'StColor', 'StLot', 'TimeOn',
       'TimeOff', 'Pieces', 'OrderPieces', 'TargetPieces', 'Discards',
       'Cycle', 'Condition', 'Shift', 'RespoCode', 'Reason',
       'OrderDiscards', 'DateStartShift', 'BalancingCode', 'LinkProgram',
       'NameProg1', 'TargetProg1', 'PiecesProg1', 'CycleTimeProg1',
       'NameProg2', 'TargetProg2', 'PiecesProg2', 'CycleTimeProg2',
       'NameProg3', 'TargetProg3', 'PiecesProg3', 'CycleTimeProg3',
       'NameProg4', 'TargetProg4', 'PiecesProg4', 'CycleTimeProg4',
       'NameProg5', 'TargetProg5', 'PiecesProg5', 'CycleTimeProg5',
       'MachineId', 'ShiftDisabled', 'ManualStopInProd', 'ModelCode'],
      dtype=object)

In [4]:
data = data[['DateRec','MachCode','StyleCode','TimeOn', 'TimeOff','Pieces','Discards','Cycle']]

In [5]:
data.head()

,DateRec,MachCode,StyleCode,TimeOn,TimeOff,Pieces,Discards,Cycle
0,2020-07-29 12:37:41.000,9,CQ0301 03,1502,159,5,1,298
1,2020-07-29 12:40:05.000,8,CQ0301 03,1119,337,4,1,297
2,2020-07-29 12:47:35.000,15,CQ0301 02,14262,730,53,2,261
3,2020-07-29 12:49:49.000,14,CQ0301 03,1801,1930,6,1,298
4,2020-07-29 12:49:57.000,21,s5277-4b 02,8684,3373,43,1,201

In [7]:
data

,DateRec,MachCode,StyleCode,TimeOn,TimeOff,Pieces,Discards
0,2020-07-29 12:37:41.000,9,CQ0301 03,1502,159,5,1
1,2020-07-29 12:40:05.000,8,CQ0301 03,1119,337,4,1
2,2020-07-29 12:47:35.000,15,CQ0301 02,14262,730,53,2
3,2020-07-29 12:49:49.000,14,CQ0301 03,1801,1930,6,1
4,2020-07-29 12:49:57.000,21,s5277-4b 02,8684,3373,43,1
...,...,...,...,...,...,...,...
1543,2020-08-02 19:00:00.000,11,BK09X007 02,0,43200,0,0
1544,2020-08-02 19:00:00.000,28,PCAGHI 01,0,43200,0,0
1545,2020-08-02 19:00:00.000,30,ZK2361 01,0,43200,0,0
1546,2020-08-02 19:00:00.000,33,CQ0301 03,0,43200,0,0
1547,2020-08-02 19:00:00.000,22,s5277-4b 02,0,43200,0,0

In [8]:
data.head()

,DateRec,MachCode,StyleCode,TimeOn,TimeOff,Pieces,Discards
0,2020-07-29 12:37:41.000,9,CQ0301 03,1502,159,5,1
1,2020-07-29 12:40:05.000,8,CQ0301 03,1119,337,4,1
2,2020-07-29 12:47:35.000,15,CQ0301 02,14262,730,53,2
3,2020-07-29 12:49:49.000,14,CQ0301 03,1801,1930,6,1
4,2020-07-29 12:49:57.000,21,s5277-4b 02,8684,3373,43,1

In [14]:
data_1 = data[data['MachCode']==1]

In [27]:
data_1.head(100)

,DateRec,MachCode,StyleCode,TimeOn,TimeOff,Pieces,Discards,Cycle
39,2020-07-29 16:25:51.000,1,CQ0301 03,17167,584,57,1,297
45,2020-07-29 17:02:37.000,1,CQ0301 03,1794,412,6,1,297
55,2020-07-29 17:54:21.000,1,CQ0301 03,2530,574,9,2,297
58,2020-07-26 07:00:00.000,1,CQ0301 03,1491,2058,6,0,297
72,2020-07-26 07:18:16.000,1,CQ0301 03,606,490,1,1,297
...,...,...,...,...,...,...,...,...
1396,2020-08-02 03:20:54.000,1,CQ0301 03,1304,211,4,1,297
1398,2020-08-02 03:35:07.000,1,CQ0301 03,825,28,2,1,297
1403,2020-08-02 04:18:58.000,1,CQ0301 03,2096,535,7,1,297
1421,2020-08-02 06:27:31.000,1,CQ0301 03,6101,1612,22,4,297
1428,2020-08-02 07:00:00.000,1,CQ0301 03,1102,847,6,2,186

KeyError: '2020-08-02'

In [13]:
t1=datetime(2020,8,2)

NameError: name 'datetime' is not defined

In [14]:
data_9['DateRec']=pd.to_datetime(data_9['DateRec'])

C:\Users\gangl\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
data_9

,DateRec,MachCode,StyleCode,TimeOn,TimeOff,Pieces,Discards
0,2020-07-29 12:37:41,9,CQ0301 03,1502,159,5,1
8,2020-07-29 13:10:51,9,CQ0301 03,1655,335,5,2
44,2020-07-29 16:58:15,9,CQ0301 03,13353,291,44,1
48,2020-07-29 17:27:00,9,CQ0301 03,1496,229,5,1
54,2020-07-29 17:53:31,9,CQ0301 03,1297,294,5,1
...,...,...,...,...,...,...,...
1440,2020-08-02 07:00:00,9,CQ0301 03,6500,229,22,0
1482,2020-08-02 12:05:00,9,CQ0301 03,16728,1572,56,1
1490,2020-08-02 15:27:10,9,CQ0301 03,11026,1104,37,1
1491,2020-08-02 16:04:04,9,CQ0301 03,1293,921,4,1
1523,2020-08-02 19:00:00,9,CQ0301 03,10206,350,35,0

In [28]:
data_9.head(20)

,DateRec,MachCode,StyleCode,TimeOn,TimeOff,Pieces,Discards,Cycle
0,2020-07-29 12:37:41.000,9,CQ0301 03,1502,159,5,1,298
8,2020-07-29 13:10:51.000,9,CQ0301 03,1655,335,5,2,298
44,2020-07-29 16:58:15.000,9,CQ0301 03,13353,291,44,1,298
48,2020-07-29 17:27:00.000,9,CQ0301 03,1496,229,5,1,298
54,2020-07-29 17:53:31.000,9,CQ0301 03,1297,294,5,1,298
70,2020-07-26 07:00:00.000,9,CQ0301 03,31372,3582,106,0,298
73,2020-07-26 07:20:14.000,9,CQ0301 03,603,611,1,1,298
109,2020-07-26 12:29:24.000,9,CQ0301 03,16100,2450,54,1,298
114,2020-07-26 13:17:06.000,9,CQ0301 03,2483,379,9,1,298
116,2020-07-26 13:30:30.000,9,CQ0301 03,711,93,1,1,298
119,2020-07-26 13:53:58.000,9,CQ0301 03,977,431,3,1,298
125,2020-07-26 15:10:49.000,9,CQ0301 03,3945,666,13,2,298
130,2020-07-26 16:06:30.000,9,CQ0301 03,2825,516,9,1,298
137,2020-07-26 17:43:59.000,9,CQ0301 03,5165,684,18,1,298
159,2020-07-26 19:00:00.000,9,CQ0301 03,4387,174,14,0,298
193,2020-07-26 20:03:05.000,9,CQ0301 03,3065,720,11,1,298
202,2020-07-26 22:44:49.000,9,CQ0301 03,9305,399,31,1,298
211,2020-07-27 00:57:27.000,9,CQ0301 03,6234,1724,20,1,298
213,2020-07-27 01:30:19.000,9,CQ0301 03,1597,375,6,1,298
239,2020-07-27 06:34:33.000,9,CQ0301 03,16875,1379,56,0,298

In [19]:
1+54+9+1+3+13+9+18+14

122

In [26]:
12*60*60/298

144.96644295302013

In [27]:
122/144

0.8472222222222222